<!DOCTYPE html>
<html>
  <head>
    <title>Sumit Choudhary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="loader">
      <div id="center"></div>
      <div id="intro">
        <p>Code Prowess Unleashed</p>
        <h2>
          <span>Pulsating</span>
          <span>Luminescent</span>
          <span>Whirlwind</span>
          <span>Radiant</span>
          <span>Quantam</span>
        </h2>
      </div>
    </div>
    <div id="main">
      <div id="nav">
        <div id="shery">
        </div>
        <div id="links">
          <a href="/">Home</a>
          <a href="/Skills">Skills</a>
          <a href="/projects">Projects</a>
          <a href="/resume">Resume</a>
        </div>
      </div>
      <div id="info">
        <div id="name">
          <div class="hi word">
            <div class="h letter">
              <img src="../images/letters-title/h.png" alt="">
            </div>
            <div class="a letter">
              <img src="../images/letters-title/a.png" alt="">
            </div>
            <div class="i letter">
              <img src="../images/letters-title/i.png" alt="">
            </div>
            <div class="coma">
              <img src="../images/letters-title/comma.png" alt="">
            </div>
          </div>
          <div class="am word">  
            <div class="i letter">
              <img src="../images/letters-title/i.png" alt="">
            </div>
            <div class="a letter">
              <img src="../images/letters-title/a.png" alt="">
            </div>
            <div class="m letter">
              <img src="../images/letters-title/m.png" alt="">
            </div>
          </div>
          <div class="sumit word">          
            <div class="s letter">
              <img src="../images/letters-title/s.png" alt="">
            </div>
            <div class="u letter">
              <img src="../images/letters-title/u.png" alt="">
            </div>
            <div class="m letter">
              <img src="../images/letters-title/m.png" alt="">
            </div>
            <div class="i letter">
              <img src="../images/letters-title/i.png" alt="">
            </div>
            <div class="t letter">
              <img src="../images/letters-title/t.png" alt="">
            </div>
          </div>
        </div>
        <div id="desc">
          <p>Passionate coder, adventure seeker, and coffee lover <br> always on the lookout for the next great project and the perfect cup.</p>
        </div>
        <div id="buttons">
          <a href="/skills">Skills</a>
          <a href="/projects">Projects</a>
          <a href="/resume">Resume</a>
        </div>
      </div>
      <div id="footer">
        <div id="socials">
          <a href="https://www.linkedin.com/in/iyashisworld/">
            <div id="elem">
              <img src="https://niftybit.co.za/linkedin.svg" alt="">
            </div>
          </a>
          <a target="_blank" href="mailto:sumitxae@gmail.com">
            <div id="elem">
              <img src="https://cdn.iconscout.com/icon/free/png-512/free-apple-mail-493152.png?f=webp&w=256" alt="">
            </div>
          </a>
          <a href="">
            <div id="elem">
              <img src="https://niftybit.co.za/github.svg" alt="">
            </div>
          </a>
          <a href="https://www.instagram.com/thenovel_freak/">
            <div id="elem">
              <img src="https://niftybit.co.za/instagram.svg" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/CustomEase.min.js"></script>
  <script src="../javascripts/script.js"></script>
</html>
