<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
  <title>Skills - Universe</title>
  <link rel="stylesheet" href="../stylesheets/skillstyle.css">
</head>
<body>
  <div id="bg-solar">
    <div id="up">
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/resume">Resume</a>
    </div>
    <div id="solar-system">
      <div id="sun">
        <div class="planetoid"></div>
      </div>
      <div class="planet mercury">
        <div class="planetinfo">
          <p>HTML/CSS</p>
        </div>
      </div>
      <div class="planet venus">
        <div class="planetinfo">
          <p>JavaScript</p>
        </div>
      </div>
      <div class="planet earth">
        <div class="planetinfo">
          <p>Canvas</p>
        </div>
      </div>
      <div class="planet mars">
        <div class="planetinfo">
          <p>ExpressJS</p>
        </div>
      </div>
      <div class="planet jupiter">
        <div class="planetinfo">
          <p>NodeJS</p>
        </div>
      </div>
      <div class="planet saturn">
        <div class="planetinfo">
          <p>MongoDB</p>
        </div>
      </div>
      <div class="planet uranus">
        <div class="planetinfo">
          <p>Postman</p>
        </div>
      </div>
      <div class="planet neptune">
        <div class="planetinfo">
          <p>JAVA</p>
        </div>
      </div>
      <div class="planet pluto">
        <div class="planetinfo">
          <p>DSA</p>
        </div>
      </div>
    </div>
    <div id="nav">
      <a class="skill" href="">
        HTML/CSS
        <span>HTML/CSS</span>
      </a>
      <a class="skill" href="">
        JavaScript
        <span>JavaScript</span>
      </a>
      <a class="skill" href="">
        Canvas
        <span>Canvas</span>
      </a>
      <a class="skill" href="">
        ExpressJS
        <span>ExpressJS</span>
      </a>
      <a class="skill" href="">
        NodeJS
        <span>NodeJS</span>
      </a>
      <a class="skill" href="">
        MongoDB
        <span>MongoDB</span>
      </a>
      <a class="skill" href="">
        Postman
        <span>Postman</span>
      </a>
      <a class="skill" href="">
        JAVA
        <span>JAVA</span>
      </a>
      <a class="skill" href="">
        DSA
        <span>DSA</span>
      </a>
    </div>
    <div id="footer">
      <div id="socials">
        <a href="https://www.linkedin.com/in/iyashisworld/">
          <div id="elem">
            <img src="https://niftybit.co.za/linkedin.svg" alt="">
          </div>
        </a>
        <a target="_blank" href="mailto:sumitxae@gmail.com">
          <div id="elem">
            <img src="https://cdn.iconscout.com/icon/free/png-512/free-apple-mail-493152.png?f=webp&w=256" alt="">
          </div>
        </a>
        <a href="">
          <div id="elem">
            <img src="https://niftybit.co.za/github.svg" alt="">
          </div>
        </a>
        <a href="https://www.instagram.com/thenovel_freak/">
          <div id="elem">
            <img src="https://niftybit.co.za/instagram.svg" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../javascripts/skillscript.js"></script>
</body>
</html>